@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 240 10% 3.9%;

    --background-start: 38.42 19.88% 88.49%;
    --background-end: 38.42 19.88% 98.49%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 27.27 14.23% 43.38%;
    --primary-foreground: 0 0% 98%;

    --secondary: 32.52 15.43% 71.63%;
    --secondary-foreground: 0 0% 0%;

    --muted: 27.6 11.1% 29.56%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 53.94, 85.58%, 98.72%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-screen bg-gradient-to-b from-background-start to-background-end text-foreground antialiased;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-header tracking-widest;
  }
}
